/* 
 * Default styles 
 * Edit this file to change styling
 */
/* css transitions */
#ra-container {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
#ra-panel-l,
#ra-panel-r {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
/* your styles here */
/* #ra-container has .ra-small .ra-large or .ra-fullscreen classes
 * depending on app state
 * this can be very useful for styling
 */
#ra-panel-l {
  background: #eef;
}
#ra-panel-r {
  background: #efe;
}
#ra-main {
  background: #fee;
}
#ra-responsivemenu {
  background: #eee;
}
#ra-headmatter {
  background: #ffe;
}
