---
---
/* 
 * Default styles 
 * Edit this file to change styling
 */

/* css transitions */
#ra-container
  transition transform .5s
  -webkit-transition -webkit-transform .5s

/* your styles here */
#ra-nav-buttons ul
  padding-left 0
  li
    padding 3px
    display inline-block
    zoom 1
    *display inline
    list-style none

/* the .ra-small class is added to #ra-container when in small screen mode
 * this can be very useful for styling
 * .ra-large is added when in large screem mode respectively
 */
.ra-small
  #ra-nav-buttons 
    width 100%
    ul li
      display block
      width 100%

#ra-panel-l-content ul
  padding-left 0
  li
    display block
    width 100%
    list-style none

#ra-panel-l
  background #eef
#ra-panel-r
  background #efe
#ra-main
  background #fee
#ra-responsivemenu
  background #eee
#ra-nav
  background #eff
#ra-nav-buttons
  background #fef
#ra-headmatter
  background #ffe