---
title: Responsive App
---
<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='{{site.baseurl}}/css/ra.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/css/style.css' rel='stylesheet' />
  <!--[if IE]>
  <script src='{{site.baseurl}}/js/classList.min.js'></script>
  <![endif]-->
</head>
<body>
    <div id='ra-container' class='ra-large'>
      <div id='ra-headmatter'>
	<div id='ra-header' class='clearfix'>
	  {% include header-text.html %}
	</div>
	<div id='ra-nav' class='clearfix'>
	  <div id='ra-nav-subhead'>
	    {% include subhead.html %}
	  </div>
	  <div id='ra-nav-btn-showhide' class='ra-btn ra-hidewhenlarge'>
	    {% include nav-showhide.html %}
	  </div>
	  <div id='ra-nav-buttons'>
	    {% include nav-buttons.html %}
	  </div>
	</div>
      </div>
      <div id='ra-panel-l'>
	{% include panel1-content.html %}
      </div>
      <div id='ra-main-responsivemenu' class='clearfix ra-hidewhenlarge'>
	<div id='ra-main-responsivemenu-btn-l' class='ra-btn'>
	  {% include main-responsivemenu-l.html %}
	</div>
	<div id='ra-main-responsivemenu-btn-r' class='ra-btn'>
	  {% include main-responsivemenu-r.html %}
	</div>
      </div>
      <div id='ra-main'>
          {% include main-content.html %}
      </div>
      <div id='ra-panel-r'>
	{% include panel2-content.html %}
      </div>
      <div id='ra-cover' class='ra-hidden'></div>
    </div>
    <script src='{{site.baseurl}}/js/ra.js'></script>
    <script>ra = new ra();</script>
</body>
</html>
